<h1>一覧画面</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>ルームネーム</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>人数</th>
      <th>合計額</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.room_name %></td>
        <td><%= r.start_day %>
        <td><%= r.end_day %>
        <td><%= r.people %>人</td>
        <td></td>
      </tr>
      <% end %>
  </tbody>
</table>

<p>
  <%= link_to "新規登録" , "reservations/new" %>
</p>
